<!-- <div class="container-fluid">
    <table class='table table-bordered' >
        <thead >
            <tr >
                <th>S.No</th>
                <th>Name</th>
                <th>Image</th>
                <th>Manufacture-Date</th>
                <th>Use-Befor</th>
                <th>M.R.P</th>
                <th>Discount</th>
                <th>Quantity</th>
                <th>Sub-Total</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let item of items;let i=index;">
                <td>{{i+1}}</td>
                <td >{{item.name}}</td>
                <td ><img src={{item.image}} alt="Product Photo" style="width: 100px;height:70px"></td>
                <td >{{item.mfgdate}}</td>
                <td>{{item.usebefore}}</td>
                <td>{{item.mrp}}</td>
                <td>{{item.discount}}%</td>
                <td>
                    <div style="display: flex; width:150px;">
                        <button (click)="dec(item)" style="background-color:red; font-size: 25px; border-radius:15px;margin:5px;width:80px;height:40px">-</button>
                        <div style="text-align:center;margin:5px;width:150px;height:40px;border-radius:15px; border:2px solid;background-color:white;width:120px;height:40px ">{{item.quantity}}</div>
                        <button (click)="inc(item)" style="background-color:green; font-size: 25px; border-radius:15px;margin:5px;width:80px;height:40px">+</button>
                    </div>
                </td>
                <td> &#x20B9; {{mrp(item.mrp,item.discount)*item.quantity}}</td>
            </tr>
            </tbody>
    </table>
   <div>
        <button style="margin:0px 100px 10px 0; font-size:15px; float: right;width: 250px;height: 50px;" 
        type="button" class="btn btn-info" (click)="buynow()"> Buy Now </button>
    </div> -->